.body {
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("../images/Background1.jpg");
    background-size: cover;
}

.body__container {
    flex-basis: 650px;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 30px #000000;
}